/* public/styles.css */

a.button {
  background: #948979;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 5px;
}


button:hover {
  background: #555;
}

a {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}

form {
  display: inline; /* For the delete button */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background: #3C5B6F;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }
  
  form {
    background: #fff;
    padding: 20px;

  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background: #948979;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  